
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#navbar, #header, #navbar li, #navbar li a, #header a, footer, .footer-img, .footer-img img, .footer-content, .footer-content p, footer h1 {
    font-family: 'Poppins', sans-serif;
}
#header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: background 0.4s cubic-bezier(.77,0,.18,1);
}
#header.index-hero {
    background-color: transparent;
}
#header.index-hero:hover {
    background-color: #fff !important;
}

/* Header Logo */
#header a{
    text-decoration: none;
    color: rgb(234, 159, 91);
    font-weight: 1000;
    font-size: 22px;
}

/*Navbar Styling */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0 150px;
    transition: background 0.4s cubic-bezier(.77,0,.18,1);
}
#header.index-hero:hover #navbar {
    background-color: #fff !important;
}

/* Navbar List Items */
#navbar li{
    list-style-type: none;
    padding: 0 35px;
}

/* Navbar Links */
#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #111;
    transition: 0.2s ease;
    position: relative;
}

/* Hover & Active State for Navbar Links */
#navbar li a:hover,
#navbar li:hover{
    color: #222;
    transform: scale(1.06);
    transition: .3s;
}
footer {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
}
.footer-img {
    width: 550px;
    height: 100%;
}
.footer-img img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: 20px;
}
.footer-content {
    padding: 32px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.footer-content p {
    color: #555;
    font-size: 18px;
    margin: 10px 0;
}
footer h1 {
    font-size: 65px;
    color: #e38039;
    font-style: italic;
    font-weight: 800;
}



